<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kilanny.shamarlymushaf" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        tools:replace="android:theme"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SampleSearchActivity" />
        </activity>
        <activity
            android:name=".SearchActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HelpActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ReciterListActivity"
            android:label="@string/title_reciter_list"
            android:parentActivityName=".WelcomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kilanny.shamarlymushaf.WelcomeActivity" />
        </activity>
        <activity
            android:name=".ReciterDetailActivity"
            android:label="@string/title_reciter_detail"
            android:parentActivityName=".ReciterListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kilanny.shamarlymushaf.ReciterListActivity" />
        </activity>
    </application>

</manifest>
